.logo_div{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45px;
}
.logo{
    width: 30px;
    height: 30px;
}
.logo__titulo{
    font-size: 18px;
    color: var(--color-fuerte);
}

@media screen and (min-width: 768px){
    .logo_div{
        margin: 20px;
    }
}

@media screen and (min-width: 1024px){
    .logo_div{
        margin: 32px 20px;
        
    }
    .logo_div--footer{
        margin: 0px;
    }
}