.menu__nav{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
}

@media screen and (min-width: 768px){
    .menu__nav{
        justify-content: space-between; 
    }
}

@media screen and (min-width: 1024px) {

    .menu__nav{
        align-items: center;
        margin-left: 152px;
        margin-right: 152px; 
        flex-wrap: nowrap;
    }
    
}