.rodapie__input{
    margin-bottom: 16px;
    width: 100%;
    height: 56px;
    font-size: 16px;
    color: var(--color-claro);
    font-family: var(--raleway);
    padding: 6px 12px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid var(--color-sinSeleccion);
}

.rodapie__input:focus{
    outline: none; 
    border-bottom-color: var(--color-fuerte); 
}

.rodapie__input:focus + .rodapie__label{
    color: var(--color-fuerte);
}

.rodapie__input::placeholder{
    visibility: hidden;
}

.rodapie__label{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 16px;
    color: var(--color-sinSeleccion);
    transition: all 0.25s;
}

.rodapie__input:focus + .rodapie__label, .rodapie__input:not(:placeholder-shown) + .rodapie__label{
    top: 5px;
    font-size: 12px;
    transition: all 0.25s;
}