.banner__titulo{
    font-family: var(--raleway);
    font-size: 22px; 
    font-weight: bold;
    color: var(--color-fuerte);

}

@media  screen and (min-width: 768px) {

    .banner__titulo{
        font-size: 52px;
    }
    
}