:root{

    /*--background-morado: #b513cad3;/*Ejemplo*/ 
    --background-claro: #F6F9E1;

    --color-fuerte: #DA2B1F;
    --color-claro: #464646;
    --color-abarrotes: #6ABA69;

    --alkatra: 'Alkatra', cursive;
    --raleway: 'Raleway', sans-serif;
}
body{
    font-family: var(--alkatra);
}