.galeriaProductos{
    background: var(--background-claro);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.card__oculta{
    display: none;
}

@media screen and (min-width: 1024px){
    .galeriaProductos__top{
        padding-top: 64px;
    }
    .card__oculta{
        display: block;
    }
}