.galeriaProductos__vermas{
    color: var(--color-fuerte); 
    font-family: var(--raleway);
    font-size: 14px; 
    font-weight: bold; 
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 180px;
} 

@media screen and (min-width: 768px){
    .galeriaProductos__vermas{
        font-size: 16px;
        margin-top: 32px;
        margin-right: 32px;
        margin-left: calc(100% - 248px); 
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 1024px){
    .galeriaProductos__vermas{
        margin-top: 0px;
        margin-bottom: 16px;
        margin-left: calc(100% - 484px);
        margin-right: 150px;
    }
}