.galeriaProductos__titulo{
    color: var(--color-fuerte); 
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
} 

@media screen and (min-width: 768px){
    .galeriaProductos__titulo{
        margin-top: 32px;
        margin-left: 32px;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 1024px){
    .galeriaProductos__titulo{
        margin-top: 0px;
        margin-bottom: 16px;
        margin-left: 150px;
    }
}