.login__container{
    display: flex;
    margin: 8px 0;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    /*align-items: center; */
}

@media screen and (min-width: 1024px){
    .login__container{
        width: 423px;
        height: 64px;
    }
}