.inventario__card{
    width: 156px; 
    box-sizing: border-box;
    margin-bottom: 10px; 
}

@media screen and (min-width: 768px){
    .inventario__card{
        margin-left: 27px;
    }
} 

@media screen and (min-width: 1024px){
    .inventario__card{
        width: 176px; 
        margin-left: 0px;
    }
}